.myNavBottomFixed {
    margin-top: 65px;
    background-color: $color-black-2;
    transition: all 0.5s;

    .myNavFixed {
        background-color: $color-black-9;

        ul {
            list-style-type: none;

            li {
                text-align: center;
                padding: $pd-1 $pd-2;
                border: 1px solid black;

                a {
                    text-decoration: none;
                    color: $color-white-0;

                    i {
                        font-size: $fs-2 + 2;
                    }
                }

                &:hover {
                    a {
                        color: $color-blue-0;
                    }
                }
            }
        }
    }
}